<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/css.css">
</head>

<body>

<div id="search">
    <div id="logo">
        <img src="../static/logo">
        <h1>Happy Searching....</h1>
    </div>
    <form action="/search" method="get" accept-charset="utf-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder=Search aria-label="Recipient's username"
                   aria-describedby="basic-addon2" id="query" name="input" required>
            <div class="input-group-append">
                <button class="btn btn-success" id="btn-search" type="submit" value="submit">Search</button>
            </div>
        </div>
    </form>

</div>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</body>

</html>